:root {
  --background-color: #161616;
  --text-color: #fff;
  --primary-color: #D8D5D1;
  --secondary-color: #7D7A77;
  --fainted-color: #3D3D3D45;
  --accent-color: #05FA6F;
  --font-family: "Lufga", Arial, sans-serif;
  --gradient-background: linear-gradient(135deg, #9FFDC3, #60FC9B, #05FA6F, #05D75C);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-family);
  background-image: url("../src/assets/Hero/bgg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
}

input[type="text"],
input[type="email"],
textarea {
  border: 0.7px solid var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary-color);
}

input[type="text"]:disabled,
input[type="email"]:disabled,
textarea:disabled {
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: not-allowed;
}